body {
    background-color: rgb(242, 191, 215);
    
}
.container {
max-width: 600px;
margin: 60px auto;
background-color: rgb(235, 200, 221);
padding: 20px;
border-radius: 10px;
box-shadow: rgba (100, 100, 111, 0.2)0px 7px 29px 0px ;

}

.city {
   display: flex; 
   margin: 10px 0;
   justify-content: space-between;
   padding: 30px 0;
   border-bottom: 1px dashed rgba(0,0,0,0.2);
}
.city:last-child {
    border: none;
}

.date {
opacity:0.7 ;
}
.time {
    font-size: 48px;
    font-weight: bold;
}
.time small {
    font-size: 24px;
    vertical-align: middle;
    line-height: 36px;
}

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
}
h2 {
    margin: 0 0 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
  
} 

footer {
    text-align: center;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6) ;
}
select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    display: block;
    
}